.textspfl{color:#FFFFFF;font-size:14px;background-color:#006699}
.text1{font-size: 14px;font-weight: bold;color: #000000;}
.leftboder{border-bottom:dashed #CCCC99 2px}
.lefttable{border-right:#CCCC99 1px solid;border-left:#CCCC99 1px solid;border-bottom:#CCCC99 1px solid;}
.text2{font-size:14px;font-weight:bold;color:#666666;background-color:cccc99}
.bordertable{border:1px cccc99 solid}
A{COLOR: #06329b; font-size:12px;TEXT-DECORATION: none;line-height:20px;}
A:hover {COLOR: #cc0000;  font-size:12px;TEXT-DECORATION: none;line-height:20px;}
.A2{COLOR: #414141; font-size:12px;TEXT-DECORATION: none;line-height:20px;}
.A3{COLOR:#FF6600; font-size:12px;TEXT-DECORATION: none;line-height:20px;}
.A3:hover{COLOR:#FF6600; font-size:12px;TEXT-DECORATION: none;line-height:20px;}
.line-middle{text-decoration:line-through;}
.A4{font-size: 14px;font-weight: bold;color: #000000;}
.A4:hover{font-size: 14px;font-weight: bold;color: #ff6600;}