BODY {FONT-FAMILY: "ו", Arial, Helvetica, sans-serif;align:center;COLOR: #414141;font-size:12px;
}
A{font-size:12px;text-decoration:none;color:#0041D3}
A:hover{font-size:12px;text-decoration:none;color:#ff7000;}
.text{font-size:12px;color:#666666;}
.ICP{color: #0033CC;font-weight: bold;}
.login-input{border:1 #cccccc solid; font-size:12px;width:130px; height:20px;}
.login-submit{border-bottom:1 #cccccc solid;border-right:1 #cccccc solid;border-top:0 #cdcdcd solid;border-left:0 #cdcdcd solid; font-size:12px;width:60px; height:24px;padding-top:5px;}
table{border-right:#7a7977 1px solid;border-left:#7a7977 1px solid;BACKGROUND-COLOR: #f9f9f9}
.text1{font-size:14px;color:#FF0000;font-family:"÷ו";text-align:center;text-weight:bold}