input{border:1 #cccccc solid; font-size:12px;width:30px;height:20px;padding-top:3px;text-align:center;}
.shopping{background-image:url(image\balance.gif);width:103px;height;36px;border:0;}
.line-middle{text-decoration:line-through;}
.textcolor{color:#FF6600}
.tdbgcolor{background-color:#CCCCCC}
.border{border-bottom:1 #3399cc solid;border-right:1 #3399cc solid;border-left:1 #3399cc solid;}
